# Servidor
PORT=3000
NODE_ENV=development

# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=unishare_db
DB_USER=unishare_user
DB_PASSWORD=unishare_pass

# JWT
JWT_SECRET=cambia_esto_por_algo_seguro
JWT_EXPIRES_IN=7d

# Archivos
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=10485760